<div class="row main">
    <div class="col-lg-6 main-content">
        <div class="maintext">
            <h1>solidaire</h1>
        </div>
        <img src="../../../images/A_ring_with_purple_ruby_and_diamonds_straight-removebg-preview.png" alt="" id="ring-image">
    </div>
</div>

<div class="row">
    <div class="col-lg-5 div2"><h1>
        LUXURIES <span>JEWELLERY</span> FOR YOU  
    </h1></div>  
    <div class="col-lg-6 div3" id="ring-box" style="background-image: url(../../../empty-red-ring-box-28891325.webp);">
    </div>
</div>


<div class="row main3">
    <div class="col-lg-6 ring2">
        <h2>Shank </h2>
        
<div>
    <img src="../../../images/ring3-removebg-preview.png" alt="">
  
</div>
    </div>
    <div class="col-lg-6 ring3">
        <h2>Eternity</h2>
        
<div>
    <img src="../../../images/ring2-removebg-preview.png" alt="">
</div>
    </div>
</div>